<div class="container">

  <h1> Dodaj nowego bloga</h1>

  <div class="row">
    <div class="col-md-6" style="float:none; margin; 0 auto;">
      <form name="newPost" ng-submit="validate(newPost)">
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Tytuł</label>
          <input type='text' name="title" ng-model="title" ng-required="required" required class='form-control'  ng-show="userLogged"/>

          <span class="error" ng-show="newPost.title.$error.required">
        Required!</span>

        </div>
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Tekst</label>
          <trix-editor angular-trix ng-model="text"></trix-editor>
          <input type='text' name="text" ng-model="text" ng-required="required" required class='form-control' ng-show="userLogged"/>

          <span class="error" ng-show="newPost.text.$error.required">
        Required!</span>

        </div>

        <div class='form-group'>
          <button type='submit' class='btn btn-primary' ng-show="userLogged"> Add </button>
        </div>
      </form>
    </div>
  </div>


</div>
