<div class="container">

  <h1> Dodaj nowa trase</h1>

  <div class="row">
    <div class="col-md-6" style="float:none; margin; 0 auto;">
      <form name="newRoute" ng-submit="validate(newRoute)">
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Start trasy</label>
          <input type='text' name="route_from" ng-model="route_from" ng-required="required" required class='form-control'  ng-show="userLogged"/>

          <span class="error" ng-show="newRoute.route_from.$error.required">
        Pole wymagane!</span>

        </div>

        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Koniec trasy</label>
          <input type='text' name="route_to" ng-model="route_to" ng-required="required" required class='form-control'  ng-show="userLogged"/>

          <span class="error" ng-show="newRoute.route_to.$error.required">
        Pole wymagane!</span>

        </div>
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Data wyjazdu</label>
          <input type='text' name="date" ng-model="date" ng-required="required" required class='form-control'  ng-show="userLogged"/>

          <span class="error" ng-show="newRoute.date.$error.required">
        Pole wymagane!</span>

        </div>
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Liczba pasażerów</label>
          <input type='text' name="max_passengers" ng-model="max_passengers" ng-required="required" required class='form-control'  ng-show="userLogged"/>

          <span class="error" ng-show="newRoute.max_passengers.$error.required">
        Pole wymagane!</span>

        </div>
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Cena</label>
          <input type='text' name="price" ng-model="price" ng-required="required" required class='form-control'  ng-show="userLogged"/>

          <span class="error" ng-show="newRoute.price.$error.required">
        Pole wymagane!</span>

        </div>
        <div class="form-group">
          <label class='control-label' ng-show="userLogged">Opis</label>
          <trix-editor angular-trix ng-model="desc_route"></trix-editor>

          <span class="error" ng-show="newRoute.desc_route.$error.required">
        Pole wymagane!</span>

        </div>

        <div class='form-group'>
          <button type='submit' class='btn btn-primary' ng-show="userLogged"> Add </button>
        </div>
      </form>
    </div>
  </div>


</div>
