<div class="container">

  <div class="jumbotron">
    <h1>Blog</h1>
    <p>Przeczytaj posty dostępne na naszym blogu.</p>
    <p>Blog ten jest tworzony przez naszych użytkowników</p>

  </div>


  <ul class="list-group">
    <li class="list-group-item" ng-repeat="x in blogS">
      <a href="#/blogItem/{{x.blog_id}}">
        {{x.title}}
        <span class="pull-right"> {{x.date | date : 'yyyy-mm-dd'}}</span>
      </a>
    </li>

  </ul>

  <div class="row">
    <div class="offset-s-4 col-s-4">
      <table ng-show="userLogged">
        <tr>
          <th>Title</th>
          <th>Short Description</th>
          <th>Date</th>
        </tr>
        <tr ng-repeat="x in blogS">
          <td><a href="#/blogItem/{{x.blog_id}}">{{x.title}} </a></td>
          <td>{{x.text  | limitTo:10}} </td>
          <td> {{x.date}}</td>
          <td> {{x|json}}</td>
        </tr>
      </table>
      <br>
    </div>
  </div>

</div>








