<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="images/car.jpg" class="img-responsive">
    </div>
    <div class="col-md-6">

      <div class="jumbotron">
        <h1>Jedziesz gdzieś swoim samochodem?</h1>

        <p>Dzięki wspólnym przejazdom z Carpooling app możesz zaoszczędzić na paliwie, podróżując w miłej atmosferze.</p>
        <p><a class="btn btn-primary btn-lg" href="#/routes" role="button">Wyszukaj przejazdy</a></p>
      </div>

    </div>
  </div>

</div>
