<div class="container">

  <div class="jumbotron">
    <h2>Lista dostępnych wycieczek</h2>
    <p>Chcesz szybko tanio i bezpiecznie dostać się z punktu A do B?</p>
    <p>Nic prostszego! Przejrzyj listę dostępnych tras i załatw sobie transport!</p>

  </div>



  <ul class="list-group">
    <li class="list-group-item" ng-repeat="x in recRoutes">
      <a href="#/route/{{x.route_id}}" class="block-item clearfix">
        <span class="inline-block">{{x.route_from}} </span>
        <span ng-if="x.can_book == true" class="label label-success">Wolne miejsca!</span>
        <span ng-if="x.can_book != true" class="label label-danger">Brak miejsc!</span>
        <span class="pull-right"> {{x.dateObj | date : 'yyyy-MM-dd HH:mm'}}</span>
      </a>
    </li>

  </ul>


</div>

