<div class="row">
  <div class="offset-s-4 col-s-4">
    <table>
      <tr>
        <th>Route from </th>
        <th>Route to  </th>
        <th>Date </th>
        <th>Passengers  </th>
        <th>Max passengers </th>
        <th>Description </th>
      </tr>
      <tr>
        <td> {{recRoutes.route_from}} </td>
        <td> {{recRoutes.route_to }} </td>
        <td> {{recRoutes.date}} </td>
        <td> {{recRoutes.passengers}} </td>
        <td> {{recRoutes.max_passengers }} </td>
        <td> {{recRoutes.desc}} </td>
      </tr>
    </table>
    <br>
  </div>
</div>
